@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

/* @theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
} */


:root {
  --page-background: #debbfe;
  --background: oklch(0.9730 0.0133 286.1503);
  --foreground: oklch(0.2937 0.0680 281.3759);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2937 0.0680 281.3759);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2937 0.0680 281.3759);
  --good-green: oklch(65.971% 0.2077 143.688);
  --good-green-light: oklch(90.227% 0.06077 144.399);
  --neutral-grey: oklch(66.984% 0.00008 271.152);
  --bad-red: oklch(58.659% 0.20671 30.47);
  --bad-red-light: oklch(80.166% 0.06311 32.046);
  --primary: oklch(0.5262 0.2098 285.8727);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9174 0.0435 292.6901);
  --secondary-foreground: oklch(0.4032 0.1223 286.8070);
  --muted: oklch(0.9556 0.0160 286.0927);
  --muted-foreground: oklch(0.5348 0.0561 284.3447);
  --accent: oklch(0.9221 0.0373 262.1410);
  --accent-foreground: oklch(0.2937 0.0680 281.3759);
  --destructive: oklch(0.6861 0.2061 14.9941);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9066 0.0271 285.8463);
  --input: oklch(0.9066 0.0271 285.8463);
  --ring: oklch(0.5262 0.2098 285.8727);
  --chart-1: oklch(0.5262 0.2098 285.8727);
  --chart-2: oklch(0.6990 0.1685 288.6576);
  --chart-3: oklch(0.5490 0.2488 273.8080);
  --chart-4: oklch(0.6275 0.2057 281.1907);
  --chart-5: oklch(0.4362 0.2067 276.3916);
  --sidebar: oklch(0.9556 0.0160 286.0927);
  --sidebar-foreground: oklch(0.2937 0.0680 281.3759);
  --sidebar-primary: oklch(0.5262 0.2098 285.8727);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9221 0.0373 262.1410);
  --sidebar-accent-foreground: oklch(0.2937 0.0680 281.3759);
  --sidebar-border: oklch(0.9066 0.0271 285.8463);
  --sidebar-ring: oklch(0.5262 0.2098 285.8727);
  --font-sans: Outfit, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(240 35.9375% 25.0980% / 0.07);
  --shadow-xs: 0px 4px 10px 0px hsl(240 35.9375% 25.0980% / 0.07);
  --shadow-sm: 0px 4px 10px 0px hsl(240 35.9375% 25.0980% / 0.15), 0px 1px 2px -1px hsl(240 35.9375% 25.0980% / 0.15);
  --shadow: 0px 4px 10px 0px hsl(240 35.9375% 25.0980% / 0.15), 0px 1px 2px -1px hsl(240 35.9375% 25.0980% / 0.15);
  --shadow-md: 0px 4px 10px 0px hsl(240 35.9375% 25.0980% / 0.15), 0px 2px 4px -1px hsl(240 35.9375% 25.0980% / 0.15);
  --shadow-lg: 0px 4px 10px 0px hsl(240 35.9375% 25.0980% / 0.15), 0px 4px 6px -1px hsl(240 35.9375% 25.0980% / 0.15);
  --shadow-xl: 0px 4px 10px 0px hsl(240 35.9375% 25.0980% / 0.15), 0px 8px 10px -1px hsl(240 35.9375% 25.0980% / 0.15);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 35.9375% 25.0980% / 0.38);
}

.dark {
  --page-background: #9d7dd8;
  --background: oklch(0.1874 0.0343 282.5848);
  --foreground: oklch(0.9137 0.0312 285.7670);
  --card: oklch(0.2227 0.0462 281.9865);
  --card-foreground: oklch(0.9137 0.0312 285.7670);
  --popover: oklch(0.2227 0.0462 281.9865);
  --popover-foreground: oklch(0.9137 0.0312 285.7670);
  --good-green-light: oklch(50% 0.15 143.688);
  --bad-red-light: oklch(50% 0.15 30.47);
  --primary: oklch(0.7162 0.1597 290.3962);
  --primary-foreground: oklch(0.1874 0.0343 282.5848);
  --secondary: oklch(0.3045 0.0873 281.6795);
  --secondary-foreground: oklch(0.8367 0.0849 285.9111);
  --muted: oklch(0.2636 0.0729 280.1707);
  --muted-foreground: oklch(0.7092 0.0551 284.9087);
  --accent: oklch(0.3242 0.0996 279.2946);
  --accent-foreground: oklch(0.9137 0.0312 285.7670);
  --destructive: oklch(0.6861 0.2061 14.9941);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3184 0.0703 281.6536);
  --input: oklch(0.3184 0.0703 281.6536);
  --ring: oklch(0.7162 0.1597 290.3962);
  --chart-1: oklch(0.7162 0.1597 290.3962);
  --chart-2: oklch(0.6245 0.1261 274.4240);
  --chart-3: oklch(0.7512 0.1369 245.3085);
  --chart-4: oklch(0.7389 0.1111 186.1163);
  --chart-5: oklch(0.7546 0.1831 346.8124);
  --sidebar: oklch(0.2227 0.0462 281.9865);
  --sidebar-foreground: oklch(0.9137 0.0312 285.7670);
  --sidebar-primary: oklch(0.7162 0.1597 290.3962);
  --sidebar-primary-foreground: oklch(0.1874 0.0343 282.5848);
  --sidebar-accent: oklch(0.3242 0.0996 279.2946);
  --sidebar-accent-foreground: oklch(0.9137 0.0312 285.7670);
  --sidebar-border: oklch(0.3184 0.0703 281.6536);
  --sidebar-ring: oklch(0.7162 0.1597 290.3962);
  --font-sans: Outfit, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(240 35.9375% 25.0980% / 0.07);
  --shadow-xs: 0px 4px 10px 0px hsl(240 35.9375% 25.0980% / 0.07);
  --shadow-sm: 0px 4px 10px 0px hsl(240 35.9375% 25.0980% / 0.15), 0px 1px 2px -1px hsl(240 35.9375% 25.0980% / 0.15);
  --shadow: 0px 4px 10px 0px hsl(240 35.9375% 25.0980% / 0.15), 0px 1px 2px -1px hsl(240 35.9375% 25.0980% / 0.15);
  --shadow-md: 0px 4px 10px 0px hsl(240 35.9375% 25.0980% / 0.15), 0px 2px 4px -1px hsl(240 35.9375% 25.0980% / 0.15);
  --shadow-lg: 0px 4px 10px 0px hsl(240 35.9375% 25.0980% / 0.15), 0px 4px 6px -1px hsl(240 35.9375% 25.0980% / 0.15);
  --shadow-xl: 0px 4px 10px 0px hsl(240 35.9375% 25.0980% / 0.15), 0px 8px 10px -1px hsl(240 35.9375% 25.0980% / 0.15);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 35.9375% 25.0980% / 0.38);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-good-green: var(--good-green);
  --color-good-green-light: var(--good-green-light);
  --color-neutral-grey: var(--neutral-grey);
  --color-bad-red: var(--bad-red);
  --color-bad-red-light: var(--bad-red-light);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	html {
		overscroll-behavior: none;
		overflow-x: hidden;
		height: 100%;
		position: fixed;
		width: 100%;
	}
	body {
		@apply bg-background text-foreground p-0 m-0;
		overscroll-behavior: none;
		overflow-x: hidden;
		height: 100%;
		width: 100%;
		position: fixed;
		touch-action: pan-y;
	}
}
